<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
<script>
    $.ajax({
        type: 'GET',
        url: '/api/v1/users/user',
        contentType:'application/json; charset=utf-8',
        beforeSend: function (xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem("accessToken"));
        },
    }).done(function(response) {
            location.href = "/myspace";
    }).fail(function(xhr, status, error) {
        $.ajax({
            type: "POST",
            url: "/api/v1/users/reissue",
            data: {
                accessToken: localStorage.getItem("accessToken"),
                refreshToken: localStorage.getItem("refreshToken")
            },
        }).done(function(response) {
            if (response.state == "200") {
                localStorage.setItem("accessToken", response.data.accessToken);
                location.href = "/myspace";
            }
            else
                location.href = "/login";
        }).fail(function(xhr, status, error) {
            location.href = "/login";
        });
    });
</script>
</html>