<!DOCTYPE html>
<html lang="en">
<head>

    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Title</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>

</head>
<body>
    <div class="main">
        <button type="button" class="btn btn-primary" onclick="logout();">로그아웃</button>
    </div>
</body>
<script>
    function logout(){
        $.ajax({
            url: '/api/v1/users/logout',
            method: 'POST',
            success: function(data) {
                console.log(data);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
</script>
</html>