<!DOCTYPE html>
<html lang="en">
<head>

    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>플레이리스트</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>

</head>
<body>
<div class="main">
    <button type="button" class="btn btn-primary" onclick="logout();">로그아웃</button>
</div>
</body>
<script>
    function logout(){
        $.ajax({
            type: 'POST',
            url: '/api/v1/users/logout',
            data: {
                accessToken: localStorage.getItem("accessToken"),
                refreshToken: localStorage.getItem("refreshToken")
            },
        }).done(function(response) {
            if (response.state == "200")
                alert(response.message);
            else
                alert(JSON.stringify(response.message));
            location.href = "/";
        }).fail(function(error){
            alert("로그아웃에 실패 했습니다.");
            location.href = "/";
        });
    }
</script>
</html>